html {
    padding: 20px;
}

body {
    padding: inherit;
    font-family: 'Helvetica', sans-serif;
}

header {
    /*border: solid 2px black;*/
    font-family: 'Rubik', sans-serif;
    color: #1485CC;
    text-shadow: 5px 5px 10px #FFFC19;
    font-size: 2em;
    text-align: center;
}

div#main {
    margin: 10px;
    padding: 10px;
    background-color: rgba(34, 167, 240, .9);
    border-radius: 5px;
}

div#table {
    padding: inherit;
    border-radius: .2em;
    /*background-color: rgba(189, 185, 46, .5);*/
}
div#table > table {
    margin: auto;
}


div#form_outer {
    text-align: center;
}

div#form_inner {
    margin: auto;
    padding: 20px;
    text-align: center;
    width: 400px;
}

hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}


tr {

}


th {
    text-align: left;
}

footer {
    text-align: center;
    padding: 25px;
}

footer > p {
    margin: auto;
}

