<html>
<head>
<title>Upload</title>
</head>
<body>
	<form method=POST enctype=multipart/form-data action="{{url_for('upload')}}">
		<input type="file" name="lecs">
		<input type="submit">
	</form>
</body>
</html>